/// Regular font family
/// @type List
$text-font-stack: Arial,
"文泉驛正黑",
"WenQuanYi Zen Hei",
"蘋方-繁",
"PingFang TC",
"黑體-繁",
"Heiti TC",
"儷黑 Pro",
"LiHei Pro",
"微軟正黑體",
"Microsoft JhengHei",
sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
'Monaco',
monospace !default;

//us color
$white: #ffffff;
$american-river: #636e72;
$dracula-orchid: #2d3436;
$brite-yellow: #fdcb6e;
$electron-blue: #0984e3;

$main: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
$text-color: $dracula-orchid;
$link-color:$electron-blue;
